
.first__button{
    background-color: rgb(190, 33, 33);
    color: white;
    border: none;
    height: 30px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
}

.second__button{
    color: blue;
    border-color: rgb(95, 95, 241);
    height: 30px;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
}

.name_of_site{
    color: white;
    cursor: pointer;
    font-family: sans-serif;
}

.img{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.colorss{
    background-color: rgb(43, 42, 42);
}



.logo{
    display: flex;
    
}


.words_below{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


.buttons{
    display: flex;
    justify-content: center;
}


.title_of_page{
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.views{
    color: gray;
    display: flex;
    justify-content: space-around;
    font-family:sans-serif;
}

.like{
    color: white;
    cursor: pointer;
}

.search{
    background-color: rgb(34, 31, 31) ;
    max-height: 40px;
    width: 700px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white ;
    border-style: solid;
    border: lightblue;
    font-size:20px;
    text-align: inherit;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0 0 0 40px;
}


.second_img{
    max-width: 60px;
    max-height: 60px;
}

